.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f1f1f1;

    .col-1 {
        padding: 7em 0;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3.2rem;
            h1 {
                font-size: 6.4rem;
            }
        }
    }
    .col-2 {
        background: #272727;
        padding-top: 5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .logo {
            width: 50px;
            height: auto;
            position: absolute;
            top: 1em;
            left: 1em;
            cursor: pointer;
            .black {
                @media screen and (width>48rem) {
                    display: none;
                }
            }
            .white {
                @media screen and (width<=48rem) {
                    display: none;
                }
            }
        }
        .pic {
            width: 80%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: #CFCFCF;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            -ms-border-radius: 10px 10px 0 0;
            -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
            box-shadow: 15px 15px 25px 5px #0f0f0f3f;
        }
        .social_media {
            display: none;
        }
    }
}

@media screen and (width>48rem) {
    .hero {
        flex-direction: row-reverse;
        text-align: start;
        align-items: flex-end;
        .col-1 {
            flex: 2;
            padding: 0;
            align-self: center;
            .content {
                margin-left: 20vw;
                align-items: flex-start;
                justify-content: center;
                h1 {
                    font-size: 10rem;
                }
            }
        }
        .col-2 {
            flex: 1;
            position: relative;
            height: 85vh;
            padding-top: 0;
            .pic {
                position: absolute;
                width: 70%;
                right: -15vw;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                border-radius: 10px;
            }
            .social_media {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                gap: 2rem;
                padding: 1em;
                svg {
                    color: #f1f1f1;
                    -webkit-transition: all 300ms ease-in-out;
                    -moz-transition: all 300ms ease-in-out;
                    -ms-transition: all 300ms ease-in-out;
                    -o-transition: all 300ms ease-in-out;
                    transition: all 300ms ease-in-out;
                    &:hover {
                        color: #bdc1c6;
                    }
                }
            }
        }
    }
}